body {
  
}

.cloud {
  top: 9px;
}

.prices {
  th {
    .caret {
      margin-left: 3px;
      margin-right: 3px;
      visibility: hidden;
    }
  }

  .sort-column .caret {
    visibility: visible;
  }

  .apiName {

  }

  .cpus, .ram, .disk, .price {
    text-align: right
  }
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000;
}