body {
  
}

.cloud {
  top: 9px;
}

.prices {
  .apiName {

  }

  .cpus, .ram, .disk, .price {
    text-align: right
  }
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000;
}